/* #locInfo {
  background-color: lightblue;
  border-style: solid;
  border-color: grey;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: 5%;
  font-family: arial;
  width: 75%;
} */

/* #locInfo  {
  font-size: 120%;
}
 #locInfo a {
   font-size: 90%;
 } */
