<!DOCTYPE html>
{% load static %}
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/sidenav.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/signin.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/myApp.css' %}">
  {% block styles %}{% endblock %}
  <title>{% block title %}{% endblock %}</title>
  <style>
  #map {
    height: 600px;
    width: 600px;
    margin-left: 5%;
  }
  </style>
  {% block scripts %}
  <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
  {% endblock %}
</head>
<body>

  <!-- Header -->
  <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Get Active! Go Play!</h1>
          <p>This is a website to connect people looking to meet up and play sports.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
  </div>
  <!-- End Header -->

  {% block content %}{% endblock %}






</body>
</html>
