{% extends "base.html" %}
{% load static %}

{% block title %}Locations{% endblock %}



{% block scripts %}
{% csrf_token %}
<script>var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();</script>
<script src="{% static 'js/vue.js' %}"></script>
<script src="{% static 'js/maps.js' %}"></script>
{% endblock %}


{% block content%}
{% csrf_token %}


<div class="container-fluid" id="app">
  <h2 class="text-center" style="padding-bottom:2%;">Find a location from the map or list below!</h2>

  <div class="row">


    <div class="col" id="map">
    </div>

    <div class="col" id="locations">
      {% for loc in locations %}
      <div class="panel panel-default">
        <div class="panel-heading">{{ loc.name }}</div>
        <div class="panel-body">
          <p id="locInfo">
            <span id="address">{{ loc.address }}</span>,
            {{ loc.city }},
            {{ loc.zip }}<br>
          </p>

        <!-- panel body -->
        </div>

      <!-- panel -->
      </div>
      {% endfor %}

    <!-- locations/col -->
    </div>

  <!-- row   -->
  </div>

<!-- container -->
</div>

{% endblock %}
